<style type="text/css">
  td, th {
    padding: 5px;
  }
</style>

<% parent = @id.position %>
<% variable = "" %>

<% while parent.include? "." %>
  <% variable += parent[0 .. parent.index(".")] %>
  <% parent = parent[parent.index(".") + 1 .. (parent.length - 1)] %>
<% end %>

<% variable = variable.chomp(".") %>

<% @nodes.each do |f| %>
  <% if f.position == variable %>
    <%= link_to "Back to #{f.title}", {:controller => "nodes", :action => "show", :id => f } %>
  <% end %>
<% end %>

<h1>Showing selected node</h1>

<p>Title: <%= @node.title %></p>
<p>content: <%= @node.content %></p>

<% if @node.image.exists? %>
  <%= image_tag @node.image.url %>
<% end %>
<table>
  <tr>
    <th>Select Options:</th>
    <th>Content</th>
    <th>Position</th>
  </tr>
  <% string = @node.position.to_s + "." %>
  <% @nodes.each do |f| %>
    <% stringTwo = f.position %>
    <% if f.parent == @node.position %>
      <tr>
        <td><%= f.title %></td>
        <td><%= f.content %></td>
        <td><%= f.position %></td>
        <td><%= link_to "Edit", edit_node_path(f) %></td>
        <td><%= link_to "Show", node_path(f) %></td>
        <td><%= link_to "Destroy", node_path(f), method: :delete, data: {confirm: "Are you sure?"}%></td>
    </tr>
    <% end %>
  <% end %>
</table>

<table>
  <tr>
    <th>Images</th>
  </tr>
  <% @images.each do |f| %>
    <% if f.position == @node.position %>
      <tr>
        <td><%= f.title %></td>
        <td><%= f.content %></td>
        <td><%= image_tag f.img.url %></td>
      </tr>
    <% end %>
  <% end %>
</table>


<%= link_to "Edit this node", edit_node_path(@node) %>
<%= link_to "Back to node listing", nodes_path %>
<%= link_to "Create node", { :controller => "nodes", :action => "new", :parent => @node.id }  %>