<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @aaron.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @aaron.content %>
</p>

<%= link_to 'Edit', edit_aaron_path(@aaron) %> |
<%= link_to 'Back', aarons_path %>
